@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
}

.shadow {
  box-shadow: 0px -8px 0px 0px #10212a inset;
}

.shadowYellow {
  box-shadow: 0px -8px 0px 0px #cc8b13 inset;
}

.shadowBlue {
  box-shadow: 0px -8px 0px 0px #118c87 inset;
}

.shadowSilver {
  box-shadow: 0px -4px 0px 0px #6b8997 inset;
}

.hover-x:hover::before {
  content: url("./assets/icon-x-outline.svg");
}

.hover-o:hover::before {
  content: url("./assets/icon-o-outline.svg");
}

.clicked-square:hover::before {
  content: none; /* Disable hover effect for clicked squares */
}
